amcl:
  ros__parameters:
    base_frame_id: "robotinobase1/base_link"
    odom_frame_id: "robotinobase1/odom"
    scan_topic: /robotinobase1/scan
    map_topic: /mps_map
    initial_pose:
      x: 5.5
      y: 0.45
      z: 0.0
      yaw: 3.14

bt_navigator:
  ros__parameters:
    robot_base_frame: robotinobase1/base_link
    odom_topic: "/robotinobase1/odom_filtered"

controller_server:
  ros__parameters:
    odom_topic: "/robotinobase1/odom_filtered"

local_costmap:
  local_costmap:
    ros__parameters:
      global_frame: robotinobase1/odom
      robot_base_frame: robotinobase1/base_link
      obstacle_layer:
        scan:
          topic: /robotinobase1/scan

global_costmap:
  global_costmap:
    ros__parameters:
      robot_base_frame: robotinobase1/base_link
      obstacle_layer:
        scan:
          topic: /robotinobase1/scan
      static_layer:
        map_topic: /mps_map_bounded

map_server:
  ros__parameters:
    yaml_filename: "map.yaml"

map_saver:
  ros__parameters:

planner_server:
  ros__parameters:

behavior_server:
  ros__parameters:
    costmap_topic: /robotinobase1/local_costmap/costmap_raw
    #footprint_topic: /robotinobase1/local_costmap/published_footprint
    robot_base_frame: robotinobase1/base_link

velocity_smoother:
  ros__parameters:
    odom_topic: "/robotinobase1/odom_filtered"

collision_monitor:
  ros__parameters:
    base_frame_id: "robotinobase1/base_link"
    odom_frame_id: "robotinobase1/odom"
    cmd_vel_in_topic: "/robotinobase1/cmd_vel_smoothed"
    cmd_vel_out_topic: "/robotinobase1/cmd_vel"
    state_topic: "/robotinobase1/cm_state"
    PolygonStop:
      polygon_pub_topic: "/robotinobase1/polygon_stop"
    PolygonSlow:
      polygon_pub_topic: "/robotinobase1/polygon_slowdown"
    scan:
      topic: "/robotinobase1/irsensor_scan"
