---
/robotinobase3/front/front_laser:
  ros__parameters:
    frame_id: robotinobase3/front_laser_link
    hostname: "192.168.0.32"
    port: "2112"
/robotinobase3/back/rear_laser:
  ros__parameters:
    frame_id: robotinobase3/back_laser_link
    hostname: "192.168.0.33"
    port: "2112"
/**:
  ros__parameters:
    static_transforms:
      front_laser:
        child_frame_id: robotinobase3/front_laser_link
        parent_frame_id: robotinobase3/base_link
      back_laser:
        child_frame_id: robotinobase3/back_laser_link
        parent_frame_id: robotinobase3/base_link
      laser:
        child_frame_id: robotinobase3/laser_link
        parent_frame_id: robotinobase3/base_link
